@import '@/styles/variables.module.scss';

.mainWrapper {
	padding-top: 3em;
	padding-bottom: 3em;

	.checkoutLink,
	.cartLink {
		width: 100%;
		font-size: 16px;
		display: block;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		padding: 8px 0;
		border-radius: 3px;
		transition: all 0.4s ease-in-out;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	}

	.checkoutLink {
		background-color: $red;
		color: white !important;
		border: 1px solid $red;

		&:hover {
			background-color: white;
			border: 1px solid $red;
			color: $red !important;
		}
	}

	.cartLink {
		background-color: white;
		color: $gray !important;
		border: 1px solid #b6b6b6;

		&:hover {
			background-color: #383e47;
			border: 1px solid #383e47;
			color: white !important;
		}
	}

	h2 {
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: $gray;
		margin-bottom: 1em;
	}

	.left {
		@media (max-width: 1199.98px) {
			margin-bottom: 2em;
		}

		.table {
			thead {
				background-color: $lightGray;
				border-bottom: 1px solid $lightGray;
				color: $lightGray3;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 700;

				tr {
					th {
						padding: 1em 2em;
					}
				}
			}

			tbody {
				tr {
					border-bottom: 1px solid $lightGray;
					&:last-child {
						border-bottom: 1px solid white;
					}
					td {
						vertical-align: middle;
						position: relative;

						.productCard {
							display: flex;
							align-items: center;
							column-gap: 1em;

							.imageWrapper {
								position: relative;
								height: 130px;
								width: 130px;
								img {
									object-fit: contain;
								}
							}

							.productDetails {
								display: flex;
								flex-direction: column;

								.brand {
									color: $lightGray3;
									font-size: 12px;
									position: relative;
									width: max-content;
									margin-bottom: 8px;
									text-transform: capitalize;
									font-weight: 400;

									&::after {
										content: '®';
										font-size: 16px !important;
										position: absolute;
										right: -16px;
										top: -3px;
									}
								}

								.title {
									font-size: 12px;
									font-weight: 700;
									color: $blue2;
									margin-bottom: 17px;
									line-height: 20px;
									display: block;
									height: 40px;
								}
							}
						}

						.price,
						.subtotal {
							font-size: 15px;
							font-weight: 700 !important;
							color: $gray;
						}
					}
				}
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			max-width: 600px;
			column-gap: 1.3em;
			margin-top: 3em;

			@media (max-width: 575.98px) {
				flex-direction: column;
				row-gap: 1em;
			}
		}
	}

	.right {
		.orderSummaryWrapper {
			color: $gray;
			padding-left: 1.5em;
			// position: sticky;
			// top: 0;

			@media (max-width: 1199.98px) {
				max-width: 400px;
				padding-left: unset;
			}

			@media (max-width: 767.98px) {
				max-width: unset;
			}

			.title {
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 0.4em;
				display: inline-block;
			}
			.subTotal {
				border: 1px solid $lightGray2;
				border-left: none;
				border-right: none;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-top: 0.8em;
				padding-bottom: 0.8em;

				.label {
					font-size: 12px;
					font-weight: 700;
				}
				.amount {
					font-size: 14.5px;
					font-weight: 700;
				}
			}
			.grandTotal {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-top: 0.8em;
				padding-bottom: 0.8em;
				margin-bottom: 0.7em;
				.label {
					font-size: 16px;
					font-weight: 700;
				}
				.amount {
					font-size: 18px;
					font-weight: 700;
				}
			}

			.orderSecurity {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 0.5em;
				margin-top: 3em;
				margin-bottom: 1.3em;

				svg {
					font-size: 1.7em;
					opacity: 0.7;
				}

				p {
					font-size: 12px;
					flex-wrap: 400;
					text-align: center;
					margin: 0;
					font-style: italic;
				}
			}

			.needHelp {
				font-size: 12px;
				flex-wrap: 400;
				text-align: center;
				margin: 0 auto;
				max-width: 290px;

				a {
					font-weight: 700;
				}
			}
		}
	}
}
