@import '@/styles/variables.module.scss';

.link {
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 0;
	border-radius: 3px;
	transition: all 0.4s ease-in-out;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

	&.checkout {
		background-color: $red;
		color: white !important;
		border: 1px solid $red;

		&:hover {
			background-color: white;
			border: 1px solid $red;
			color: $red !important;
		}
	}

	&.cart {
		background-color: white;
		color: $gray !important;
		border: 1px solid #b6b6b6;

		&:hover {
			background-color: $gray;
			border: 1px solid $gray;
			color: white !important;
		}
	}
}
