@import '@/styles/variables.module.scss';

.mainWrapper {
	.label {
		font-size: 12px;
		color: $gray;
		font-weight: 700;
		cursor: pointer;
	}

	.quantityLabel {
		font-weight: 700;
		font-size: 12px;
		color: $gray;
	}

	.quantityInputWrapper {
		max-width: 130px;
		border: none;
		button {
			background: transparent;
			color: $gray;
			border-radius: 3px;
			font-size: 1.3em;
			padding: 0;
			padding-left: 0.2em;
			padding-right: 0.2em;
			transition: all 0.4s ease-in-out;
			border: 1px solid rgb(204, 207, 214);
			z-index: 10;
			display: flex;
			align-items: center;

			&:hover {
				background-color: $lightGray;
			}

			&:focus,
			&:active {
				color: $gray;
				border: 1px solid rgb(204, 207, 214);
			}
		}

		input[type='number'] {
			font-size: 12px !important;
			font-weight: 400 !important;
			padding-top: 9px !important;
			padding-bottom: 9px !important;
			color: #666666 !important;
			border: 1px solid rgb(204, 207, 214);
			border-left: none;
			border-right: none;
			text-align: center;

			&:focus {
				box-shadow: none;
			}
		}
	}

	.input {
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 3px;
		border: 1px solid rgb(204, 207, 214);
		transition: all 0.4s ease-in-out;
		color: #666666;
		font-size: 15px;

		&:focus {
			box-shadow: none;
			border-color: rgb(153, 153, 153);
		}
	}
}
