@import '@/styles/variables.module.scss';

.mainWrapper {
	display: flex;
	flex-direction: column;
	// width: 210px;
	overflow: hidden !important;
	background-color: white;
	border-radius: 3px;

	&.twoRowsSlider {
		&:first-child {
			margin-bottom: 1.7em;
		}
	}

	.productImage {
		// width: 210px;
		height: 210px;
		position: relative;
		overflow: hidden !important;

		img {
			object-fit: contain;
		}

		.statusWrapper {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			z-index: 5;
			align-items: flex-end;
			row-gap: 0.4em;
		}
	}

	.productDetails {
		display: flex;
		flex-direction: column;
		// padding-top: 20px;

		.productBrand {
			color: $lightGray3;
			font-size: 13px;
			position: relative;
			width: max-content;
			margin-bottom: 10px;
			text-transform: capitalize;
			font-weight: 400;

			&::after {
				content: '®';
				font-size: 16px !important;
				position: absolute;
				right: -16px;
				top: -3px;
			}
		}

		.productTitle {
			font-size: 13px;
			font-weight: 700;
			color: $blue2;
			margin-bottom: 15px;
			line-height: 20px;
			display: block;
			height: 40px;
		}

		.pricesBlock {
			font-weight: 700;
			font-size: 15px;
			margin-top: 15px;
			display: flex;
			align-items: center;
			column-gap: 0.6em;

			.oldPrice {
				color: #999999;
				text-decoration: line-through;
			}

			.price {
				color: $gray;

				&.discounted {
					color: $red;
				}
			}
		}

		.addToCartButton {
			margin-top: 17px;
			width: 100%;
			display: block;
			color: #373e46;
			border-color: #808287;
			background-color: white;
			box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: 700;
			text-align: center;
			transition: all 0.4s ease-in-out;
			border: 1px solid #b6b6b6;
			padding: 9px;

			&:hover {
				color: #fff;
				border-color: $red;
				background-color: $red;
			}

			&.outOfStock {
				background-color: #f7f7f7;
				border-color: #f7f7f7;
				cursor: not-allowed !important;
				color: #999;
			}
		}
	}
}
