@keyframes slideUP {
	0% {
		transform: translate(0, -15em);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@import '@/styles/variables.module.scss';

.mainWrapper {
	bottom: 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 6;
	right: 20px;
	opacity: 0;
	transform: translate(0, -15em);
	transition: all 0.4s ease-in-out;
	background-color: rgba($blue, $alpha: 0.6);
	// background-color: $blue;
	height: 45px;
	width: 45px;
	border-radius: 5px;
	border: 1px solid rgba($blue, $alpha: 0.6);

	@media (max-width: 767.98px) {
		height: 40px;
		width: 40px;
	}

	&.show {
		opacity: 1;
		transform: translate(0, 0);
	}

	&:hover {
		background-color: rgba($blue, $alpha: 1);
		border-color: rgba($blue, $alpha: 1);
	}

	svg {
		font-size: 1em;
	}
}
