@keyframes slideUP {
	0% {
		transform: translate(0, -15em);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@import '@/styles/variables.module.scss';

.mainWrapper {
	bottom: 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	right: 20px;
	opacity: 0;
	pointer-events: none;
	transform: translate(0, -15em);
	transition: all 0.4s ease-in-out;
	background-color: white;
	padding: 0.5em;
	border-radius: 50%;
	border: 1px solid #cdd0d7;
	color: black;

	@media (max-width: 767.98px) {
		padding: 0.4em;
	}

	&.show {
		opacity: 1;
		transform: translate(0, 0);
		pointer-events: unset;
	}

	&:hover {
		background-color: rgba($blue, $alpha: 1);
		border-color: rgba($blue, $alpha: 1);
	}

	svg {
		font-size: 1em;

		@media (max-width: 767.98px) {
			font-size: 0.8em;
		}
	}
}
