@keyframes slideDown {
	0% {
		transform: translate(0, -2em);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slideInLeft {
	0% {
		transform: translate(-2em, 0);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@import './variables.module.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	// font-family: 'Rajdhani', sans-serif !important;
}

html,
body {
	max-width: 100vw;
	scroll-behavior: smooth;
	// overflow-x: hidden; Sticky navbar won't work when enabled
}

a {
	color: unset !important;
	text-decoration: none !important;
}

ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.custom-navigation {
	display: flex !important;
	flex-direction: column !important;

	.nav-item {
		border: none !important;
		border-bottom: 1px solid $lightGray2 !important;
		padding-top: 0.7em;
		padding-bottom: 0.7em;

		&:first-child {
			padding-top: 0;
		}

		.nav-link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0;
			background-color: white !important;
			color: $gray;
			transition: all 0.3s ease-in-out;

			svg {
				transform: rotate(90deg);
				transition: all 0.4s ease-in-out;
			}

			&.active {
				background-color: white !important;
				color: $red !important;
			}

			&.active svg {
				transform: rotate(0deg);
			}
		}
	}
}

.homepage-banner {
	.carousel-item {
		height: calc(100vh - 189.4px);
		position: relative;

		@media (max-width: 991.98px) {
			height: 400px;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba($color: #000000, $alpha: 0.5);
		}

		&.active h3 {
			animation: slideDown 1s linear 0s 1 forwards;
		}

		&.active p {
			animation: slideInLeft 1s linear 1s 1 forwards;
		}

		&.active a {
			animation: fadeIn 1s linear 1s 1 forwards;
		}

		.carousel-image {
			display: block;
			width: 100%;
			object-fit: cover;
		}

		.carousel-caption {
			bottom: unset;
			top: 13vh;
			text-align: left;
			z-index: 2;

			@media (max-width: 767.98px) {
				text-align: center;
			}

			@media (max-width: 991.98px) {
				top: 9vh;
			}

			h3 {
				font-weight: 800;
				font-size: 3em;
				margin-bottom: 0.5em;
				transform: translate(0, -2em);
				opacity: 0;

				@media (max-width: 991.98px) {
					font-size: 2em;
				}

				// @media (max-width: 767.98px) {
				// 	text-align: center;
				// }
			}

			p {
				max-width: 500px;
				font-size: 1.1em;
				font-weight: 400;
				margin-bottom: 1.5em;
				transform: translate(-2em, 0);
				opacity: 0;

				@media (max-width: 991.98px) {
					font-size: 1em;
				}

				// @media (max-width: 767.98px) {
				// 	text-align: center;
				// }
			}

			a {
				background-color: $red;
				border: 1px solid $red;
				color: white;
				display: inline-block;
				padding: 0.5em 1.2em;
				border-radius: 5px;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 700;
				transition: all 0.4s ease-in-out;
				opacity: 0;

				@media (max-width: 991.98px) {
					font-size: 15px;
				}

				// @media (max-width: 767.98px) {
				// 	text-align: center;
				// }

				&:hover {
					background-color: white;
					color: $red !important;
				}
			}
		}
	}
}

.showcase-navigation {
	border-bottom: 1px solid $lightGray2;
	display: flex;
	column-gap: 1.5em;
	padding-bottom: 0.1em !important;
	margin-bottom: 2em !important;

	&.specific {
		.nav-item {
			.nav-link {
				font-size: 16px;
				padding-bottom: 0.5em;
			}
		}
	}

	.nav-item {
		.nav-link {
			border: none;
			// border-bottom: 1px solid $lightGray2 !important;
			color: #999;
			padding: 0;
			background-color: white !important;
			border-radius: 0;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: 0.3em;
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			transition: all 0.4s ease-out;
			// overflow: hidden;

			@media (max-width: 767.98px) {
				font-size: 16px;
			}

			&.active {
				color: $gray;
			}

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				right: 100%;
				bottom: -1px;
				background: $red;
				height: 3px;
				-webkit-transition-property: right;
				transition-property: right;
				-webkit-transition-duration: 0.4s;
				transition-duration: 0.4s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}

			&.active:before {
				right: 0 !important;
			}

			// &:hover:before {
			// 	right: 0;
			// }

			&:focus:before {
				right: 0;
			}

			&:active:before {
				right: 0;
			}
		}
	}
}

.additional-info-navigation {
	border-bottom: 1px solid $lightGray2 !important;
	display: flex;
	column-gap: 1.5em;
	padding-bottom: 0.1em !important;
	margin-bottom: 2em !important;

	.nav-item {
		.nav-link {
			border: none;
			color: #999;
			padding: 0;
			background-color: white !important;
			border-radius: 0;
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: 0.3em;
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			transition: all 0.4s ease-out;

			@media (max-width: 767.98px) {
				font-size: 16px;
			}

			&.active {
				color: $gray;
			}

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				right: 100%;
				bottom: -1px;
				background: $red;
				height: 3px;
				-webkit-transition-property: right;
				transition-property: right;
				-webkit-transition-duration: 0.4s;
				transition-duration: 0.4s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}

			&.active:before {
				right: 0 !important;
			}

			&:focus:before {
				right: 0;
			}

			&:active:before {
				right: 0;
			}
		}
	}
}

.product-images-navigation {
	border-bottom: 1px solid $lightGray2 !important;
	display: flex;
	column-gap: 1.1em;
	padding-bottom: 0.1em !important;
	margin-bottom: 2em !important;

	.nav-item {
		.nav-link {
			border: none;
			color: #999;
			padding: 0;
			background-color: white !important;
			border-radius: 0;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			padding-bottom: 0.1em;
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			transition: all 0.4s ease-out;

			@media (max-width: 767.98px) {
				font-size: 16px;
			}

			&.active {
				color: $gray;
			}

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				right: 100%;
				bottom: -1px;
				background: $red;
				height: 2px;
				-webkit-transition-property: right;
				transition-property: right;
				-webkit-transition-duration: 0.4s;
				transition-duration: 0.4s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}

			&.active:before {
				right: 0 !important;
			}

			&:focus:before {
				right: 0;
			}

			&:active:before {
				right: 0;
			}
		}
	}
}

.slick-slide > div {
	margin: 0 10px;
}

.slick-list {
	margin: 0 -10px;
}

.slick-arrow {
	z-index: 9;
	&.slick-prev {
		@media (max-width: 575.98px) {
			left: -5px !important;
		}
		&::before {
			color: #9ea0a4 !important;
		}
	}

	&.slick-next {
		@media (max-width: 575.98px) {
			right: -5px !important;
		}
		&::before {
			color: #9ea0a4 !important;
		}
	}
}

.benefits-slider {
	.slick-slide > div {
		margin: 0;
	}
	.slick-list {
		margin: 0;
	}

	.benefit {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		column-gap: 0.5em !important;
		padding: 0 !important;

		svg {
			font-size: 1.2em;
		}
	}
}

.fbt-slider {
	.slick-slide {
		position: relative;

		&:last-child::after {
			content: '';
		}

		&::after {
			content: '+';
			position: absolute;
			top: 25%;
			right: -5px;
			color: #bfbfbf;
			font-size: 40px;
			font-weight: 500;
			z-index: 5;
		}

		& > div {
			margin: 0;
		}
	}

	.slick-active.slick-current
		+ .slick-active
		+ .slick-active
		+ .slick-active::after {
		content: '';
	}

	.slick-active.slick-current + .slick-active::after {
		@media (max-width: 767.98px) {
			content: '';
		}
	}

	.slick-active.slick-current + .slick-active + .slick-active::after {
		@media (max-width: 991.98px) {
			content: '';
		}
	}
}

.product-thumbnails-slider {
	@media (min-width: 992px) {
		display: none !important;
	}
	.slick-slide > div {
		margin: 0;
		position: relative;
		width: 100%;
		height: 400px;

		@media (max-width: 767.98px) {
			height: 300px;
		}

		img {
			object-fit: contain;
		}
	}
	.slick-list {
		margin: 0;
	}

	.slick-dots {
		bottom: 0px !important;
	}
}

.product-more-info-slider {
	.slick-slide > div {
		.image-wrapper {
			position: relative;
			width: 100%;
			height: 150px;
		}

		@media (max-width: 767.98px) {
			height: 180px;
		}

		img {
			object-fit: contain;
		}
	}
	.slick-list {
		margin: 0;
	}

	.slick-dots {
		bottom: -10px !important;
	}
}

.slick-dots {
	bottom: -45px !important;

	& li {
		margin: 0 !important;
		&.slick-active button:before {
			background-color: #9ea0a4 !important;
			// border: 1px solid #323232 !important;
		}

		button:before {
			font-family: unset !important;
			font-size: 0px !important;
			background-color: white !important;
			border-radius: 50% !important;
			color: white !important;
			border: 1px solid #9ea0a4 !important;
			opacity: 1 !important;
			width: 10px !important;
			height: 10px !important;
			padding: 0 !important;
		}
	}
}

.category-card-slider {
	position: absolute !important;
	top: 64px !important;
	left: 0 !important;
	width: 35% !important;

	@media (max-width: 767.98px) {
		position: relative !important;
		width: 100% !important;
		top: unset !important;
		margin-bottom: 2em;
	}

	div {
		position: relative;
		width: 100%;
		height: 480px;
		margin: 0;
		border-radius: 3px;
		overflow: hidden;

		@media (max-width: 767.98px) {
			height: 400px;
		}

		img {
			object-fit: cover;
		}
	}

	.slick-dots {
		bottom: 4px !important;
	}
}

.productImagesModalCarousel {
	.carousel-item {
		height: 400px;
		position: relative;

		@media (max-width: 991.98px) {
			height: 400px;
		}

		img {
			display: block;
			width: 100%;
			object-fit: contain;
		}
	}

	.carousel-control-next {
		background-color: rgba($color: #fff, $alpha: 0.5);
		width: max-content;
		padding: 0.5em;
		top: 40%;
		bottom: unset;
		.carousel-control-next-icon {
			filter: invert(100%);
		}
	}

	.carousel-control-prev {
		background-color: rgba($color: #fff, $alpha: 0.5);
		width: max-content;
		padding: 0.5em;
		top: 40%;
		bottom: unset;
		.carousel-control-prev-icon {
			filter: invert(100%);
		}
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
